---
# Installs packages required for Jenkins agents (like SSH server)
- name: Ensure the necessary packages are present
  ansible.builtin.package:
    name:
      - wget
      - gpg
      - openssh-server # Needed for Jenkins to SSH into the agent
      - fontconfig     # Dependency for Java
    update_cache: yes
    state: present
  notify: start_sshd # Notifies handler to start/enable sshd

# -- This block installs Java (JDK 21) --

- name: Download the Eclipse Adoptium GPG key
  ansible.builtin.get_url:
    url: https://packages.adoptium.net/artifactory/api/gpg/key/public
    dest: /etc/apt/keyrings/adoptium.asc
    mode: 'a+r'
  when: ansible_distribution in ["Debian", "Ubuntu"]

- name: Add Adoptium repo
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/adoptium.asc] https://packages.adoptium.net/artifactory/deb  {{ ansible_distribution_release }} main"
    state: present
    filename: adoptium
    update_cache: yes
  when: ansible_distribution in ["Debian", "Ubuntu"]

- name: Add multiple repositories into the same file (
  ansible.builtin.yum_repository:
    name: Adoptium
    description: Adoptium YUM repo
    baseurl: "https://packages.adoptium.net/artifactory/rpm/rhel/9/$basearch"
    gpgcheck: yes
    enabled: yes
    gpgkey: "https://packages.adoptium.net/artifactory/api/gpg/key/public"
  when: ansible_os_family == "RedHat"

- name: install java(jdk)
  ansible.builtin.package:
    name:
      - temurin-21-jdk # Installs JDK 21
    state: present
  notify: start_sshd

# -- End of Java Install --

# Creates a 'jenkins' user on the worker nodes
- name: ensure user jenkins exist
  user:
    name: jenkins
    state: present
    shell: /bin/bash
    create_home: yes
    groups: docker # Adds user to 'docker' group to run docker commands
    append: yes
  when: inventory_hostname in groups['k8s_cluster'] # Only runs on workers

# This copies the PUBLIC key from the Jenkins master (in files/)
# to the 'jenkins' user's authorized_keys file on the agents.
# This is what allows the Jenkins master to SSH into the agents.
- name: Set authorized key taken from file
  ansible.posix.authorized_key:
    user: jenkins
    state: present
    key: "{{ lookup('file', '../files/depi_jenkins_rsa.pub') }}"
  when: inventory_hostname in groups['k8s_cluster'] # Only runs on workers
