apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  # This is --apiserver-advertise-address
  advertiseAddress: "{{ ansible_default_ipv4.address }}"
nodeRegistration:
  # This is --cri-socket
  criSocket: "unix:///var/run/cri-dockerd.sock"
  ignorePreflightErrors:
    - Swap
  # This adds the cloud-provider flag to the kubelet
  kubeletExtraArgs:
    - name: "cloud-provider"
      value: "external"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: kubernetes
apiServer:
  # This is --apiserver-cert-extra-sans
  # This list is now minimal, just like the old command
  certSANs:
    - 127.0.0.1
    - "{{ ansible_default_ipv4.address }}"
  # This adds the cloud-provider flag to the apiserver
  extraArgs:
    - name: "cloud-provider"
      value: "external"
    - name: "bind-address"
      value: "0.0.0.0"
controllerManager:
  # This adds the cloud-provider flag to the controller-manager
  extraArgs:
    - name: "cloud-provider"
      value: "external"
    - name: "bind-address"
      value: "0.0.0.0"
scheduler:
  extraArgs:
    - name: "bind-address"
      value: "0.0.0.0"
networking:
  # This is --pod-network-cidr
  podSubnet: "{{ pod_network_cidr }}"
  serviceSubnet: "10.96.0.0/12"
```eof
