---
# This task is crucial for Debian/Ubuntu before installing packages.
- name: update cache (neccecary for debian and ubuntu based)
  apt:
    update_cache: yes
  # This only runs on Debian-based systems (like Ubuntu).
  when: ansible_os_family == "Debian"
  # This prevents the task from showing "changed" every time it runs.
  changed_when: false

# Installs common tools that are useful on any server.
- name: install important needed packages 
  package:
    name: 
    # - curl
      - vim
      - git
      - acl # Access Control List utilities
      - python3-pip  
    update_cache: yes
    state: present

- name: Install kubernetes python library (Critical for Ansible k8s modules)
  pip:
    name: kubernetes
    state: present
    executable: pip3

- name: helm install
  shell: "curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4 | bash"
  args:
    creates: "/tmp/install-helm.txt"
  register: helm_installation
  changed_when: helm_installation.rc == 0

- name:  Create marker file for installing helm
  file:
    path: "/tmp/helm_installation"
    state: touch
  when: helm_installation.changed
