---
# This task is crucial for Debian/Ubuntu before installing packages.
- name: update cache (neccecary for debian and ubuntu based)
  apt:
    update_cache: yes
  # This only runs on Debian-based systems (like Ubuntu).
  when: ansible_os_family == "Debian"
  # This prevents the task from showing "changed" every time it runs.
  changed_when: false

# Installs common tools that are useful on any server.
- name: install important needed packages 
  package:
    name: 
      - curl
      - vim
      - git
      - acl # Access Control List utilities
    update_cache: yes
    state: present
