---
- name: update cache (neccecary for debian and ubuntu based)
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"
  changed_when: false

- name: install important needed packages 
  package:
    name: 
      - curl
      - vim
      - git
      - acl
    state: present
