apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: amazona
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: frontend
        image: {{ .Values.frontend.image }}
        ports:
        - containerPort: {{ .Values.frontend.port }}
        env:
        - name: REACT_APP_API_URL
          valueFrom:
            configMapKeyRef:
              name: amazona-config   
              key: react-app-api-url     


