apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: amazona-ingress
  namespace: amazona
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      # FIXED: Capture 'api' inside the regex so it is NOT removed
      - path: /?(api/.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: backend-service
            port:
              number: 5000
      - path: /?(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: frontend-service
            port:
              number: 80
