
- name: Add Cloud Controller Manager Helm charts repositoy
  kubernetes.core.helm_repository:
    name: aws-cloud-controller-manager
    repo_url: https://kubernetes.github.io/cloud-provider-aws

- name: Deploy Add Cloud Controller Manager
  kubernetes.core.helm:
    name: aws-cloud-controller-manager
    chart_ref: aws-cloud-controller-manager/aws-cloud-controller-manager
    release_namespace: kube-system
    kubeconfig: /etc/kubernetes/admin.conf    # to give acces to setup the cluster intead of doing it as k8s user      
    values:
      args:
        - "--configure-cloud-routes=false"
        - "--v=2"
        - "--cloud-provider=aws"  
        - "--cluster-name=kubernetes"

- name: Add  aws load balancer controller Helm charts repository
  kubernetes.core.helm_repository:
    name: eks
    repo_url: https://aws.github.io/eks-charts

- name: Install AWS Load Balancer Controller
  kubernetes.core.helm:
    name: aws-load-balancer-controller
    chart_ref: eks/aws-load-balancer-controller
    release_namespace: kube-system
    kubeconfig: /etc/kubernetes/admin.conf
    values:
      clusterName: kubernetes
      serviceAccount:
        create: true
        name: aws-load-balancer-controller
      enableServiceMutatorWebhook: false

- name: Add aws ebs driver Helm charts repository
  kubernetes.core.helm_repository:
    name: aws-ebs-csi-driver
    repo_url: https://kubernetes-sigs.github.io/aws-ebs-csi-driver

- name: Deploy aws ebs driver controller 
  kubernetes.core.helm:
    name: aws-ebs-csi-driver
    chart_ref: aws-ebs-csi-driver/aws-ebs-csi-driver
    release_namespace: kube-system
    kubeconfig: /etc/kubernetes/admin.conf    # to give acces to setup the cluster intead of doing it as k8s user

- name: Add NGINX Controller Helm charts repository
  kubernetes.core.helm_repository:
    name: ingress-nginx
    repo_url: https://kubernetes.github.io/ingress-nginx

- name: Deploy NGINX Controller 
  kubernetes.core.helm:
    name: ingress-nginx
    chart_ref: ingress-nginx/ingress-nginx
    release_namespace: ingress-nginx
    create_namespace: yes
    kubeconfig: /etc/kubernetes/admin.conf    # to give acces to setup the cluster intead of doing it as k8s user
    values:
      controller:
        config:
          use-proxy-protocol: "true"
       
        service:
          # This tells AWS to create a Classic Load Balancer (ELB) for us
          type: LoadBalancer
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
            service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"

- name: Add Jetstack Helm repository (for cert-manager)
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: https://charts.jetstack.io

- name: Install cert-manager
  kubernetes.core.helm:
    name: cert-manager
    chart_ref: jetstack/cert-manager
    release_namespace: cert-manager
    create_namespace: true
    kubeconfig: /etc/kubernetes/admin.conf
    values:
      installCRDs: true
