- name: check docker is installed
  command : which docker
  register: docker_check
  ignore_errors: true

- name: install docker dependincies
  apt:
    name:
      - curl
      - ca-certificates
      - gnupg
    state: present
    update_cache: yes
  when:
    - docker_check.rc != 0
    - ansible_os_family == "Debian"

- name: Create directory for Docker GPG keyrings (Debian/Ubuntu)
  ansible.builtin.file:
    path: /etc/apt/keyrings # Standard directory for keys
    state: directory
    mode: '0755'
  when:
    - docker_check.rc != 0
    - ansible_os_family == "Debian"

- name:  Download the Docker GPG key
  ansible.builtin.get_url:
      url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
      dest: /etc/apt/keyrings/docker.asc
      mode: 'a+r' # Equivalent to 'sudo chmod a+r'  
  when:
    - docker_check.rc != 0
    - ansible_os_family == "Debian"

- name: Add the repository to Apt sources
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    filename: docker
    state: present
    update_cache: yes
  when :
    - docker_check.rc != 0
    - ansible_os_family == "Debian"

- name: 4. Ensure APT cache is updated (if not done by apt_repository)
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 0
  when :
    - docker_check.rc != 0
    - ansible_os_family == "Debian"

- name: add Docker repository
  ansible.builtin.yum_repository:
    name: docker-ce-stable
    state: present
    #baseurl: https://download.docker.com/linux/rhel/docker-ce.repo
    #baseurl: https://download.docker.com/linux/rhel/$releasever/$basearch/stable/
    baseurl: https://download.docker.com/linux/rhel/9/$basearch/stable/
    gpgkey: https://download.docker.com/linux/rhel/gpg
    enabled: yes
    gpgcheck: yes
    description: Docker CE repo stable
  when:
    - ansible_os_family == "RedHat"
    - docker_check.rc != 0

- name: Clean and rebuild DNF/YUM metadata cache
  ansible.builtin.dnf:
    name: '*' 
    state: latest 
    update_cache: yes
  when: ansible_os_family == "RedHat"
  become: yes

- name: install docker engine
  ansible.builtin.package:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  notify: start_enable_docker

- name: add ansible user for Docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
           
