---
 - name: setup agents
   hosts: all
   gather_facts: yes

 -  import_playbook: ./playbooks/initialization.yml
 -  import_playbook: ./playbooks/docker_installation.yml
 -  import_playbook: ./playbooks/jenkins_agents_setup.yml
 -  import_playbook: ./playbooks/jenkins_master_setup.yml
 -  import_playbook: ./playbooks/k8s_cluster_setup.yml
