---
- name: Set hostname to private DNS (Required for AWS Cloud Provider)
  shell: hostnamectl set-hostname $(curl -s http://169.254.169.254/latest/meta-data/local-hostname)

# Kubernetes cannot run if swap is enabled.
- name: Disable swap
  command: swapoff -a

# This ensures swap stays off even after a reboot.
- name: Keeps the swap off during reboot
  ansible.posix.mount:
    name: swap
    fstype: swap
    state: absent
    
# This file tells the OS to load required kernel modules on boot.
- name: Create the .conf file to load the modules at bootup
  copy:
    dest: /etc/modules-load.d/k8s.conf
    content: |
        overlay
        br_netfilter

# Loads the kernel modules immediately without a reboot.
- name: Load required kernel modules (overlay, br_netfilter)
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  become: true
  loop:
    - overlay
    - br_netfilter

# This block installs 'cri-dockerd', the shim that allows
# Kubernetes to use Docker as its container runtime.
- name: install cri-dockerd
  block:
    - name: 1.Download cri-dockerd archive
      get_url:
        url: "https://github.com/Mirantis/cri-dockerd/releases/download/v{{ cri_dockerd_version }}/cri-dockerd-{{ cri_dockerd_version }}.amd64.tgz"
        dest: "/tmp/cri-dockerd-{{ cri_dockerd_version }}.amd64.tgz"
        mode: '0644'

    - name: 2.Extract cri-dockerd archive
      ansible.builtin.unarchive:
        src: "/tmp/cri-dockerd-{{ cri_dockerd_version }}.amd64.tgz"
        dest: "/tmp/"
        remote_src: yes # Tells Ansible the src file is on the remote machine

    - name: 3.Move cri-dockerd binary to /usr/local/bin
      copy:
        src: "/tmp/cri-dockerd/cri-dockerd"
        dest: "/usr/local/bin/"
        mode: '0755'
        remote_src: yes
        owner: root
        group: root
    
    # Downloads the systemd service file to manage cri-dockerd
    - name: 4. Download cri-docker.service file
      get_url:
        url: "https://raw.githubusercontent.com/Mirantis/cri-dockerd/master/packaging/systemd/cri-docker.service"
        dest: "/etc/systemd/system/cri-docker.service"
        mode: '0644'
      notify: # This tells Ansible to run the handlers (daemon-reload, start socket)
        - Reload systemd daemon
        - Start cri-docker socket
    
    # Downloads the systemd socket file
    - name: 5. Download cri-docker.socket file
      get_url:
        url: "https://raw.githubusercontent.com/Mirantis/cri-dockerd/master/packaging/systemd/cri-docker.socket"
        dest: "/etc/systemd/system/cri-docker.socket"
        mode: '0644'
      notify: 
        - Reload systemd daemon
        - Start cri-docker socket
        
    # This task was modified to be more robust (as we discussed)
    - name: 6. Replace executable path in service file
      replace:
        path: "/etc/systemd/system/cri-docker.service"
        regexp: '/usr/bin/cri-dockerd'
        replace: '/usr/local/bin/cri-dockerd'
      notify: 
        - Reload systemd daemon
        - Start cri-docker socket

    - name: 7. Enable cri-docker.service && cri-docker.socket 
      service:
        name: "{{ item }}" 
        enabled: true # Ensures services start on boot
      loop:
        - cri-docker.service
        - cri-docker.socket
          
# This block installs the main Kubernetes components
- name: Install kubelet, kubectl, and kubeadm
  block:
    # Adds the Kubernetes GPG key for Debian/Ubuntu
    - name: Download The k8s gpg key for Debian based os
      get_url:
        url: "https://pkgs.k8s.io/core:/stable:/{{ KUBERNETES_VERSION}}/deb/Release.key"
        dest: "/etc/apt/keyrings/kubernetes-apt-keyring.gpg"
      when: ansible_os_family == "Debian"
    
    # Adds the Kubernetes apt repository for Debian/Ubuntu
    - name: Add the repository to Apt sources
      apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/{{ KUBERNETES_VERSION}}/deb/ /"
        filename: kubernetes
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"
    
    # Adds the Kubernetes yum repository for RedHat/RHEL/Fedora
    - name: Add k8s repository for Redhat based os 
      yum_repository:
        name: Kubernetes
        state: present
        baseurl: https://pkgs.k8s.io/core:/stable:/{{ KUBERNETES_VERSION}}/rpm/
        gpgkey: https://pkgs.k8s.io/core:/stable:/{{ KUBERNETES_VERSION}}/rpm/repodata/repomd.xml.key
        enabled: yes
        gpgcheck: yes
        description: Kubernetes repo stable
        exclude:
          - kubelet
          - kubeadm
          - kubectl
          - cri-tools
          - kubernetes-cni
      when: ansible_os_family == "RedHat"

    # Installs the packages using the 'package' module (works for apt/yum)
    - name: Install Kubernetes packages on all OS families
      package:
        name:
          - kubelet
          - kubeadm
          - kubectl
        state: present
        # This is for RedHat only, to ignore the 'exclude' from the repo definition
        disable_excludes: "{{ 'Kubernetes' if ansible_os_family == 'RedHat' else omit }}"

    # "Holding" a package prevents it from being automatically updated
    # This is critical for Kubernetes, as you must manage upgrades carefully
    - name: Hold Kubernetes packages on Debian family
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop:
        - kubelet
        - kubeadm
        - kubectl
      when: ansible_os_family == "Debian"

- name: Create /etc/systemd/system/kubelet.service.d
  file:
    path: /etc/systemd/system/kubelet.service.d
    state: directory

- name: Add kubelet extra args (AWS external)
  copy:
    dest: /etc/systemd/system/kubelet.service.d/20-extra.conf
    content: |
        [Service]
        Environment="KUBELET_EXTRA_ARGS=--cloud-provider=external"
    mode: 0644

- name: Reload systemd
  command: systemctl daemon-reload

- name: Restart kubelet
  service:
    name: kubelet
    state: restarted

